<link rel="stylesheet" href="/css<%= assetPath('home.css') %>" />

<h1>Codeial / <%= title %></h1>

<div id="home-container">
  <section id="feed-posts">
    <h4>News Feed</h4>
    <% if(locals.user){ %>
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea
        name="content"
        cols="30"
        rows="3"
        placeholder="Type Here..."
        required
      ></textarea>
      <input type="submit" value="Post" />
    </form>
    <% } %>

    <div id="posts-list-container">
      <ul>
        <% for(post of posts){ %> <%- include('_post') %> <%} %>
      </ul>
    </div>
  </section>

  <div id="users">
    <% if(locals.user){%>
    <section id="user-friends">
      <h4>Friends</h4>
     
      <% if(locals.user.friendships.length > 0){%>
      <% for(let u = 0; u < locals.user.friendships.length ; u++){ %>

      <p>
          <% let newArray = locals.user.friendships[u].split("-")%>
          <a href="/users/profile/<%= newArray[2] %>"> <%= newArray[1] %> </a>
      </p>

      <% } %>
      <%} %>
      
    </section>
    <% } %>

    <section id="user-list">
      <h4>Suggested for you</h4>
      <% for(u of all_users){ %>
      <p>
        <% if(locals.user && u.name == locals.user.name){%>
          <a href="/users/profile/<%= u.id %>"> <%= u.name%> (My Profile)</a>
        <% }else{ %>
          <a href="/users/profile/<%= u.id %>"> <%= u.name%> </a>
        <%} %>
      </p>
      <% } %>
    </section>
  </div>

  <%- include('_chat_box') -%>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>
<% if(locals.user){ %>
  <script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
 </script>
<% } %>
